html,
body {
  background-color: #052530 !important;
  color: #ffffff !important;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}
code {
  font-size: medium;
  background-color: #77777755;
  padding: 2px;
  border-style: solid;
  border-width: 0;
  border-radius: 4px;
  color: #cccccc !important;
}
a {
  text-decoration: none !important;
  color: #c5e5f0 !important;
}
#content {
  background-color: #003040;
}
#title {
  font-size: larger;
}
#top {
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
}
.post {
  width: 100%;
}
.post-title {
  font-size: larger;
}
.post-date {
  color: #cccccc;
}
